#popup-container {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 8000;
}

#popup-container.popup-msg {
  position: relative;
  z-index: 7500;
  padding: 15px;
  background-color: #111;
  color: #fff;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  font-size: medium;
}

@media only screen and (max-width: 720px) {
  #popup-container {
    bottom: 0px;
    left: 0px;
  }
}

.popup-slide-in {
  animation-name: slideIn;
  animation-duration: 0.8s;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.8s;
}

@keyframes slideIn {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0);
  }
}

.popup-slide-out {
  animation-name: slideOut;
  animation-duration: 0.8s;
  -webkit-animation-name: slideOut;
  -webkit-animation-duration: 0.8s;
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(80px);
    opacity: 0;
  }
}
